<html>
    <head>
        <meta charset="utf-8">
        <title>
            Plasm Login
        </title>
        {% load static %}
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>

        {% if user.is_authenticated %}
            <h1>You are already logged in. Log-out to login into another user.</h1>
        {% else %}
            <div class="scroll">
                <form method="POST" style="margin: 0px;">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row my-5">
                            <div class="col-md-6 ">
                                <img src="{% static 'img/1.jpg' %}" class="image-fluid">
                            </div>
                            <div class="col-md-6 p-5">
                                <div class="row mx-5">
                                    <div class="col-md-12"> <h2 class="center">LOGIN</h2></div>
                                </div>
                                <div class="row my-4 mx-5">
                                    <div class="textbox">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <input type="text" placeholder="USER NAME" name="username" value="">
                                    </div>
                                </div>
                                <div class="row my-2 mx-5">
                                    <div class="textbox">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <input type="password" placeholder="PASSWORD" name="password" value="">
                                    </div>
                                </div>
                                <div class="row my-2 mx-5 ">
                                    <div class="col-md-12 text-center">
                                    <button class="btn btn-outline-success rounded-pill my-2" type="submit" > Log In</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </body>
</html>
