<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} Plasm {% endblock %}
        </title>
        {% load static %}
        <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
        <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block header %} 
        
        {% endblock %}
        <style>
            .vio{
             background-color: rgb(240, 228, 228);;
              font-size: 17px;
                }
        </style>
    </head>

    <body style="margin: auto;">
        <nav class="vio">
            <ul>
                <li class="nohover" style="width: 2em;"></li>
                <li class="nohover" style="width: fit-content;">
                    <a href="/" style="padding: 0%;">
                        <h1 style="color: black; font-size: 35px; margin: 0em; font-family: forte; padding-top: 1em;"> Plasm </h1>
                    </a>
                </li>
                <li style="float: right;">
                    <a href="/donor-search"><button type="button" class="btn btn-outline-primary rounded-pill">Donor search</button></a>
                </li>
                <li style="float: right;">
                    {% if user.is_authenticated %}
                        <a href="/logout"><button type="button" class="btn btn-outline-success rounded-pill">Logout</button></a>
                    {% else %}
                        <a href="/login"><button type="button" class="btn btn-outline-success rounded-pill">Login</button></a>
                    {% endif %}
                </li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li style="float: right; width: 110px;">
                            <a href="/admin"><button type="button" class="btn btn-outline-secondary rounded-pill">My Account</button></a>
                        </li>
                    {% endif %}
                    <li style="float: right; width: 110px;">
                        <a href="/donor-search"><button type="button" class="btn btn-outline-primary rounded-pill">Find Donors</button></a>
                    </li>
                {% endif %}
            </ul >
        </nav>

        <div class="pagebody">
            {% block body %} 
        
            {% endblock %}
        </div>
        
        <div class="copyright">
            <p style="margin-top: 10px;"><footer>© Copyright - A Savior19 initiative </footer></p>
        </div>

    </body>
</html>
