{% extends 'base.html' %} 
{% load static %}
{% block header %}
    <title>Search</title>
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block body %} 
        <br>
        <br>
        <center><h2 style="font-size: large;">Search</h2></center> 
        <br>
        <br>
        
        <div class="container user-registration">
            <div class="row">
                <div class="col-md-5 user-registration__col my-5 ">
                    <form class="new_user" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                Blood ABO Type *:-
                                <br><br>
                                <input type="text" name="abo" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                Blood Rh Type * :-
                                <br><br>
                                <input type="text" name="rh" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                City :-
                                <br><br>
                                <input type="text" name="city" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                District :-
                                <br><br>
                                <input type="text" name="district" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                State :-
                                <br><br>
                                <input type="text" name="state" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-outline-success rounded-pill my-3 text-center" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-7">
                    <img class="leftimg" src="{%  static 'img/1.jpg' %}" alt="Signin flow">
                </div>
            </div>
        </div>

        {% if display_data %}
        <div>
            <table>
                <tr>
                    <th>Sno</th>
                    <th>ABO Group</th>
                    <th>Rh Group</th>
                    <th>Hospital Name</th>
                    <th>Status</th>
                    <th>Age Bracket</th>
                    <th>Gender</th>
                    <th>Nationality</th>
                    <th>City</th>
                </tr>
                {% for patient in patient_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for attribute in patient %}
                            <td>{{ attribute }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
