{% extends 'base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}


{% block body %}
    <form method="POST" style="margin: 0px;">
        {% csrf_token %}
        <div style="margin-left:100px ;">
            <table>
                <div class="row">
                    <div class="form-group">
                        <label for="bid_total_weight">Blood ABO Type * :-</label>
                        <input class="form-control values-input" type="text" name="abo" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="bid_total_weight">Blood Rh Type:-</label>
                        <input class="form-control values-input" type="text" name="rh" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="bid_total_weight">City:-</label>
                        <input class="form-control values-input" type="text" name="city" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="bid_total_weight">District:-</label>
                        <input class="form-control values-input" type="text" name="district" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="bid_total_weight">State:-</label>
                        <input class="form-control values-input" type="text" name="state" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="button">Search</button>
                    </div>
                </div>
            </table>
        </div>
    </form>
    
    {% if display_data %}
        <div>
            <table>
                <tr>
                    <th>Sno</th>
                    <th>ABO Group</th>
                    <th>Rh Group</th>
                    <th>Hospital Name</th>
                    <th>Status</th>
                    <th>Age Bracket</th>
                    <th>Gender</th>
                    <th>Nationality</th>
                    <th>City</th>
                </tr>
                {% for patient in patient_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for attribute in patient %}
                            <td>{{ attribute }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
